.show-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
  max-width: 70%;
  margin: 50px auto;
  padding: 4% 0;
  border: 2px solid #ab24a1;
}

.search-results {
  padding: 5px;
}

.link_button_search {
  padding: 12px;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
  color: #ffffff;
  background-color: #ab24a1;
  display: block;
  cursor: pointer;
  margin: 20px auto;
  margin-top: 7%;
  max-width: 18%;
}

.results_title {
  margin-top: 50px;
}

@media only screen and (max-width: 760px) {
  .link_button_search {
    margin: 20px auto;
    margin-top: 22%;
    max-width: 40%;
  }

  .results_title {
    font-size: 1.1rem;
  }
}
