.show-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
  max-width: 70%;
  margin: 50px auto;
  padding: 4% 0;
  border: 2px solid #ab24a1;
}

.search-results {
  padding: 0px;
}

/* .show_title {
  max-width: 200px;
  margin: 0 auto;
} */
