.detail_container {
  max-width: 425px;
  margin: 0 auto;
  margin-top: 7%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
}

.detail_container h1 {
  margin: 0;
  text-align: center;
}

.detail_container h4 {
  margin: 0;
}

.detail_container button {
  margin: 20px auto;
}

.detail_container p {
  margin-bottom: 7px;
}

.bold {
  font-weight: bold;
}

.p_detail {
  font-size: 1.2rem;
  padding: 3px;
  color: #ffffff;
  background-color: #ab24a1;
}

p.synopsis {
  margin-bottom: 20px;
}

.left-col {
  width: 50%;
}

.right-col {
  width: 50%;
  margin: 0 auto;
}

.header {
  flex-basis: 100%;
}

@media only screen and (max-width: 760px) {
  .detail_container {
    margin-top: 12%;
  }

  p.synopsis {
    width: 90%;
    margin: 0 auto;
  }
}
