.watchlist_ul {
  list-style: none;
  max-width: 60%;
  margin: 0 auto;
}

.watchlist_li {
  margin: 100px;
  padding: 20px;
  border: 2px solid #ab24a1;

  display: grid;
  grid-template-columns: 40% 60%;
  justify-items: center;
}
