nav {
  overflow: hidden;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: black;
  background-color: #ab24a1;
}

nav a {
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  padding: 0.6em;
  background-color: #ab24a1;
  color: #ffffff;
}

nav a:hover,
nav a:focus {
  background-color: #1b2733;
  color: #ffffff;
  transition: all 0.4s ease;
}

.welcome_message {
  position: fixed;
  top: 2%;
  left: 80%;
  z-index: 10;
  white-space: nowrap;
  color: #ffffff;
}
