nav {
  background-color: #3e8c69;
  overflow: hidden;
  padding: 1% 0;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 0 2em;
}

a:visited {
  color: #d7a63c;
}
