.footer-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ab24a1;
}

footer p {
  color: #ffffff;
  margin: 10px;
}

footer a {
  color: #ffffff;
}

footer button {
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 50%;
}

footer button:hover,
footer button:focus {
  background-color: #1b2733;
  color: #ffffff;
  border-radius: 50%;
  transition: all 0.4s ease;
}

footer a:hover,
footer a:focus {
  color: #1b2733;
  transition: all 0.4s ease;
}
