.footer-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  background-color: #3e8c69;
}

footer p {
  font-size: 1.2rem;
}

footer button {
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1.2rem;
  color: #ffffff;
  padding: 10px;
  border-radius: 50%;
}

footer button:hover,
footer button:focus,
footer a:hover,
footer a:focus {
  font-size: 1.4rem;
  color: #212528;
  border-radius: 50%;
  transition: all 0.4s ease;
}
