.signup_form {
  max-width: 60%;
}

.signup_form label {
  display: block;
  text-align: left;
}

.signup_form input {
  width: 100%;
}

@media only screen and (max-width: 760px) {
  .signup_form {
    max-width: 80%;
  }
}
