* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Karla', sans-serif;
  text-align: center;
  line-height: 1.5;
  background-color: #ffffff;
  color: #637282;
}

h1,
h2,
h3,
h4 {
  margin: 20px;
  padding: 12px;
  color: #1b2733;
  font-family: 'Rubik', sans-serif;
}

h1 {
  margin-top: 7%;
}

form {
  border: 2px solid #ab24a1;
  width: 70%;
  max-width: 90%;
  margin: 0px auto;
  padding: 50px;
}

footer {
  padding: 1% 0;
}

input {
  margin: 20px;
  padding: 12px;
  border: 2px solid #ab24a1;
}

input::placeholder {
  color: #4b5055;
}

.error {
  color: #6db65b;
}

button {
  padding: 12px;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
  color: #ffffff;
  background-color: #ab24a1;
  display: block;
  cursor: pointer;
  margin: 20px auto;
}

button:hover {
  background-color: #212528;
  color: #ffffff;
  transition: all 0.4s ease;
}

a {
  text-decoration: none;
}

img {
  height: 275px;
  width: 175px;
}

.loading {
  margin-top: 400px;
}

@media only screen and (max-width: 760px) {
  h1 {
    margin-top: 18%;
  }

  form {
    width: 100%;
    padding: 20px;
    border: none;
  }
}
