* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  background-color: #fff;
  color: #212528;
}

h1,
h2,
h3,
h4 {
  margin: 20px;
  padding: 12px;
  color: #d7a63c;
}

section {
  min-height: 200px;
  padding: 6% 0;
}

form {
  border: 2px solid #3e8c69;
  width: 70%;
  max-width: 70%;
  margin: 0px auto;
  padding: 50px;
}

footer {
  padding: 1% 0;
}

header {
  padding: 12% 0;
}

input {
  margin: 20px;
  padding: 12px;
  font-size: 1.2rem;
  border: 2px solid #3e8c69;
}

input::placeholder {
  color: #4b5055;
}

.error {
  color: #6db65b;
}

button {
  margin: 20px;
  padding: 12px;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #3e8c69;
  display: block;
}

img {
  height: 275px;
  width: 175px;
}

.youtube-results {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  max-width: 70%;
  margin: 50px auto;
  padding: 6% 0;
  border: 2px solid #3e8c69;
}

.youtube-ul {
  list-style: none;
}

/* 
section:nth-child(even) {
} */
